node_modules
coverage
docs
bin
dist
build
*.swp
.idea
.vscode
test.json
.env
package-lock.json
yarn-error.log
reports
.nyc_output
.DS_Store

# sample nextjs app
# next.js
sample-app/.next/
sample-app/out/
# production
sample-app/build
# typescript
sample-app/*.tsbuildinfo
sample-app/next-env.d.ts
