# Create an account in {env}.twilio.com, without flex
ACCOUNT_SID=ACXXXX
AUTH_TOKEN=XXXX
# prod|stage|dev
ENV=stage
# stage-us1|dev-au1|ie1|us1
REGION=stage
EDGE=""
WORKSPACE_FRIENDLY_NAME="js-sdk e2e tester - Multi Tasking"
# The following keys can be generated in Twilio console:
# https://www.<env>.twilio.com/us1/account/keys-credentials/api-keys
SIGNING_KEY_SID=SKXXXX
SIGNING_KEY_SECRET=XXXX

# Datadog configuration. PublishIntegrationTestResultsDatadog.js (Config) for other variables to be set up to report Integration test results to Datadog
# DD_API_KEY=Datadog API key. Set to start publishing the integration test results.
