name: Release

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: "Release Version"
        required: true
      developmentVersion:
        description: "Next Development Version"
        required: true

permissions:
  id-token: write # Required for OIDC (https://docs.github.com/en/actions/concepts/security/openid-connect)
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"
      - name: Bump to release version
        run: |
          git config user.name flexrouting+ci
          git config user.email flexrouting+ci@twilio.com
          yarn version --new-version "${{ github.event.inputs.releaseVersion }}" --no-git-tag-version
      - run: |
          yarn
          yarn build

      - name: Push Docs to gh-pages
        env:
          RELEASE_VERSION: ${{ github.event.inputs.releaseVersion }}
        run: |
          git add .
          git add -f dist
          git commit -m "${{ env.RELEASE_VERSION }}"
          git tag ${{ env.RELEASE_VERSION }}
          git push origin HEAD:main --tags
          git checkout -B gh-pages
          find . -mindepth 1 -maxdepth 1 \( -name .gitignore -o -name node_modules -o -name dist -o -name .git \) -prune -o -exec rm -rf {} +
          mv dist/docs/* .
          rm -rf dist
          git add .
          git commit -am "${{ env.RELEASE_VERSION }}"
          git push origin gh-pages --force

      - name: Check Out Code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          ref: main

      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest # Required by Trusted publishing (https://docs.npmjs.com/trusted-publishers)

      - name: Publish to NPM
        run: npm publish

  development:
    runs-on: ubuntu-latest
    needs: [release]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8
        with:
          node-version: 20
      - name: Bump version
        id: bump_version
        env:
          DEVELOPMENT_VERSION: ${{ github.event.inputs.developmentVersion }}
        run: |
          git config user.name flexrouting+ci
          git config user.email flexrouting+ci@twilio.com
          git pull origin HEAD:main
          yarn version --new-version "${{ env.DEVELOPMENT_VERSION }}" --no-git-tag-version
          git pull origin HEAD:main
          git add .
          git rm -rf dist
          git commit -m "${{ env.DEVELOPMENT_VERSION }}"
          git push origin HEAD:main --force
